body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    background-color: darkgray;
}

h1 {
    color: darkgray;
}

h1.error {
    color: red;
}

#form {

    margin-bottom: 1%;
}

.gif {
    margin: 1px;
}

hr {
    flex-basis: 100%; height: 0; margin: 0; border: 0; 
}

#container {
    width: 100%;
    margin: 3%;
}